<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782020604730-kbddkmdjshd1sb0skelg2kn7f4472o7d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782020604730-kbddkmdjshd1sb0skelg2kn7f4472o7d</string>
	<key>API_KEY</key>
	<string>AIzaSyDjXuFObLjziAItxzDFlTH2VmV2o8XwNGo</string>
	<key>GCM_SENDER_ID</key>
	<string>782020604730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.romeshsinghabahu.Stylepoll</string>
	<key>PROJECT_ID</key>
	<string>stylepollv1</string>
	<key>STORAGE_BUCKET</key>
	<string>stylepollv1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782020604730:ios:55059297ef5936e2475603</string>
	<key>DATABASE_URL</key>
	<string>https://stylepollv1.firebaseio.com</string>
</dict>
</plist>